{% extends 'base.html.twig' %}

{% block title %}Annoyance index{% endblock %}

{% block body %}
    <h1>Annoyance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annoyance in annoyances %}
            <tr>
                <td>{{ annoyance.id }}</td>
                <td>{{ annoyance.name }}</td>
                <td>
                    <a href="{{ path('annoyance_show', {'id': annoyance.id}) }}">show</a>
                    <a href="{{ path('annoyance_edit', {'id': annoyance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annoyance_new') }}">Create new</a>
{% endblock %}
